: root {
    --primary-color: #055a05;
    /* forest green*/
    --secondary-color: #f4a261;
    /* warm sand*/
    --accent1-color: 3264653;
    /* dark slateblue*/
    --accent2-color: #e9c46a;

    /* light golden yellow*/
    --heading-font: "times new roman" georgia" serif;
    }
    header {
        background-color: forestgreen;
        color: darkslateblue;}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Times New Roman', Times, serif;
    
}header, main, footer{
    width: 840px;
    margin: 0 auto;
}
h1,h2{
    font-family:'Times New Roman', Times, serif;
    color:forestgreen;
    padding: 10rem;
}
nav,section,p {
    margin: 16px;
}
h2,article{
    margin:16px;
    padding:5px;
    background-color: rgb(255, 153, 0);
}
.socialmedia a{
    text-decoration: none;
}
.hero img{
    position:relative;
    width: 100%;
}
.hero img{
    display:block;
    width:100%;
    height:auto
}
h1{
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color:darkslateblue;
    color: orangered;/* white text- make sure there is enough contrast with the background-color*/
}
.hero article img {
    float: right;
    width: 125px;
    
}

