* {
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header,
footer {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

hi {
    margin: 10px;
    text-align: center;
}

h2 {
    border-border: 1px solid #222;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 30px 20px 30px #444;
}

sections {
    margins: 20px 0;
    border: 1px solid rgb(0 0 0/10%);
    padding: 10px;
    background-color: #abc;
    font-size: .9rem;
}

section p {
    margin: 10px;
}

ul {
    margin-left: 10px 0 20px;
}

footer {}